<div class="container">
    <h1>Bienvenidos a Crud Básico EClass</h1>
    <br />
    <h3>Listado de Productos</h3>
    <div class="row">
        <br>
        <a href="/productos/registrarProductos" class="btn btn-primary">Nuevo</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio Unitario</th>
                    <th colspan="2">Operación</th>
                </tr>
            </thead>
            {{#each productos}}
            <tr>
                <td>{{this.sku}}</td>
                <td>{{this.nombre}}</td>
                <td>{{this.descripcion}}</td>
                <td>{{this.precioUnitario}}</td>
                <td>
                    <a href="/productos/modificaProductos/{{this._id}}">Modificar</a>
                </td>
                <td>
                    <a href="/productos/eliminarProductos/{{this._id}}">Eliminar</a>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>