<div class="container">
    <h1>Bienvenidos a Crud Básico EClass</h1>
    <br />
    <h3>Registre un nuevo Producto.</h3>
    <form action="/productos/guardarProductos" method="POST">
        <input type="hidden" name="_id" value="{{producto._id}}" />
        <div class="form-group">
            <label for="sku">SKU:</label>
            <input type="text" class="form-control" id="sku" name="sku" required value="{{producto.sku}}">
        </div>
        <div class="form-group">
            <label for="nombre">Nombres:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required value="{{producto.nombre}}">
        </div>
        <div class="form-group">
            <label for="descripcion">Descripcion:</label>
            <input type="textarea" class="form-control" id="descripcion" name="descripcion"
                value="{{producto.descripcion}}">
        </div>
        <div class="form-group">
            <label for="precioUnitario">Precio unitario:</label>
            <input type="number" class="form-control" id="precioUnitario" name="precioUnitario" required
                value="{{producto.precioUnitario}}">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="/" class="btn btn-danger">Cancelar</a>
    </form>
</div>